.page.container {
  /*width: 80%;*/
  min-width: 960px;
  max-width: 1380px;
}

.page {
  padding-top: 30px;
}
.page p {
  margin-top: 0;
}

.page .banner {
  background: url("https://img1.beachbodyimages.com/beachbody/image/upload/f_auto,q_auto/v1409762611/beachbodyblog/Beachbody-Blog-Pumpkin-Spice-Latte.jpg") no-repeat center top;
  padding-bottom: 50%;
  padding-bottom: calc(350/700*100); /* 350(세로)/700(가로)*100 */
}

.page .cropping-demo {
  overflow: hidden;
}
.page .cropping-demo img {
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s cubic-bezier(0.33, -0.33, 0.65, 1.29);
}
.page .cropping-demo img:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

/*
* 배경이미지와 마찬가지로 width 폭을 모를 경우,
* height를 고정적으로 명시할 수 없어 반응형 이미지에
* 적용되는 기술을 사용할 수 있다.
*
* 반응형 배경이미지에 적용되어 사용되었던 기술을 활용
* height: 0;
* padding-bottom: (target/context * 100) %;
*/
.rwd-iframe-container {
  position: relative;
  min-width: 100%;
  border: 0;
  overflow: hidden;
  /*
   * 4:3 = 75%
   * 16:9 = 56.25%
   * 21:9 = 42.857142857%
   */
  padding-bottom: 56.25%;
  background: #000;
}

.rwd-iframe-container.ratio-4-3 {
  padding-bottom: 75%;
}
.rwd-iframe-container.ratio-21-9 {
  padding-bottom: 42.857142857%;
}

.rwd-iframe-container iframe {
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.show-grid::before {
  height: 3000px;
}
/*
.responsive-crop-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.responsive-crop-content {
  position: absolute;
  width: 100%;
  height: auto;
  transform: scale(1);

  transition: transform .3s ease-in-out;
}
.responsive-crop-content:hover {
  cursor: pointer;
  transform: scale(1.2);

}*/
