@charset "UTF-8";

/* 초기설정 */
body {
  margin-top: 0;
  margin-bottom: 0;
}

/* GUIDE */
.guide {
  background: url("../img/leading-21.png");
  min-height: 100vh;
}

/* LAYOUT */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* TYPOGRAPHY*/
html {
  font-size: 16px;
}

body {
  /*font: 0.875rem/1.3125rem "Spoqa Han Sans", sans-serif;*/
  /* 14px 21px % , IE 9, 10에서는 font에 rem 사용 못함 */
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-family: "Spoqa Han Sans", "Nanum Gothic", Dotum, Sans-Serif;
}

/* 본문 디자인 */
p {
  margin-top: 1.3125rem;
  margin-bottom: 0;
  letter-spacing: -0.02em;
  /* 자간 : photoshop 자간 값 / 1000 em , 무조건 em */
}

/* 제목 디자인 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.3125rem;
  margin-bottom: 0;
  font-weight: 200;
}

h3, h4, h5 {
  line-height: 2.624rem;
}

h1, h2 {
  line-height: 3.9375rem;
}

h6 {
  /*font-size: 14px;*/
  font-size: 0.875rem;
  /*margin-top: 1.5em; /* 14/16 */
  color: #787f94;
}

h5 {
  /*font-size: 18.382px;*/
  font-size: 1.508472875rem; /* 1 * 1.313 */
  /*line-height: 2.29;*/
  /* 2칸*(1.5/1.313) */
  /*margin-top: 1.14em;*/
  color: #787f94;
}

h4 {
  /*margin-top: 0.87em;*/
  /*font-size: 24.135566px;*/
  font-size: 1.980624885rem; /* 1.313 * 1.313 */
  color: #787f94;
  /*line-height: 1.74;*/
  /* Math.ceil(1.723969 / 1.5) * (1.5 / 1.723969) */
  /* 본문 글자 크기의 상대 비율 / 본문 글자 크기의 행간 비율 */
  /* ceil() : 올림 */
  /*
   몇 칸의 행간 폭을 가지는가?: Math.ceil(본문 글자 크기의 상대비율/본문 글자 크기의 행간 비율)
   글자 크기 비율에 상대적인 행간 비율 값은?: (본문 글자 크기의 행간 비율/본문 글자 크기의 상대비율)
   행간은? 위 두개의 결과를 곱한 값
   */
}

h3 {
  font-size: 2.600560474rem;
  /*line-height: 1.33;*/
  /*margin-top: 0.66em;*/
}

h2 {
  font-size: 3.414535902rem;
  /*line-height: 1.52;*/
  /*margin-top: 0.51em;*/
}

h1 {
  font-size: 4.483285639rem;
  /*line-height: 1.16;*/
  /*margin-top: 0.39em;*/
}

img {
  /*margin-top: 21px;*/
  vertical-align: top;
}
